<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<form action="/create/todo" method="POST">
		title:<input type="text" name="todo_title"/>
		description: <textarea name="description"></textarea>
		submit: <input type="submit" value="Submit"/>
	</form>
  </body>
</html>
